:root {
  /* ## Colors */

  /* ### Primary */

  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);

  /* grid layouts */

  --gridProfile: "item1 item2 item2" "item1 item3 item3";
  --gridCards-lg: "card1 card1 card2 card3" "card1 card1 card2 card3"
    "card4 card5 card5 card3" "card4 card5 card5 card3";
  --gridCards-md: "card1 card5" "card1 card5" "card1 card5" "card2 card3"
    "card2 card3" "card4 card3" "card4 card3";
  --gridCards-sm: "card1 card1" "card2 card4" "card5 card5" "card3 card3";
  --gridCards-xs: "card1" "card2" "card4" "card5" "card3";
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-size: 13px;
  font-style: normal;
  line-height: 1.2rem;
  background-color: hsl(0, 0%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: 90rem;
  margin: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: var(--gridCards-lg);
  gap: 2rem;
  padding: 10%;
}
.card {
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 15px 15px 50px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.profile {
  display: grid;
  grid-template-columns: 3rem;
  column-gap: 1rem;
  grid-template-areas: var(--gridProfile);
}
.logo {
  width: 2.5rem;
  grid-area: item1;
  border-radius: 50%;
}
.name {
  font-size: 1rem;
  grid-area: item2;
  padding: 0%;
  margin: 0;
}
.qualification {
  padding: 0%;
  margin: 0;
  grid-area: item3;
}
.highlight {
  font-size: 1.2375rem;
  font-weight: 600;
  margin-top: 0.8em;
}
.details {
  margin: 0%;
}
.Daniel {
  background-color: var(--Purple-500);
  grid-area: card1;
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 4rem;
  color: var(--Purple-300);
}
.Daniel .logo {
  border: 2px solid var(--Purple-300);
}
.Daniel .highlight,
.Daniel .name {
  color: var(--Purple-50);
}
.Jonathan {
  background-color: var(--Grey-500);
  grid-area: card2;
  color: var(--Grey-200);
}
.Jonathan .highlight,
.Jonathan .name {
  color: var(--Grey-100);
}
.Jonathan.logo {
  border: 2px solid var(--Grey-200);
}
.Kira {
  background-color: var(--White);
  grid-area: card3;
  color: var(--Grey-400);
}
.Kira .highlight,
.Kira .name {
  color: var(--Grey-500);
}
.Jeanette {
  background-color: var(--White);
  grid-area: card4;
  color: var(--Grey-400);
}
.Jeanette .highlight,
.Jeanette .name {
  color: var(--Grey-500);
}
.Patrick {
  background-color: var(--Dark-blue);
  grid-area: card5;
  color: var(--Grey-200);
}
.Patrick .highlight,
.Patrick .name {
  color: var(--Grey-100);
}
.Patrick .logo {
  border: 2px solid var(--Purple-500);
}
/* responsive */

@media screen and (min-width: 1440px) {
  main {
    padding: 5%;
  }
}

@media screen and (max-width: 1140px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: var(--gridCards-md);
  }
}

@media screen and (max-width: 920px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: var(--gridCards-sm);
  }
}

@media screen and (max-width: 768px) {
  body {
    padding: 2rem 0;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-areas: var(--gridCards-xs);
  }
  .Daniel {
    background-image: none;
  }
}
